<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h1 class="h4 mb-3 text-center">Iniciar sesión</h1>

        {{#if authError}}
          <div class="alert alert-danger">
            {{authError}}
          </div>
        {{/if}}

        {{#if errors}}
          <div class="alert alert-danger">
            <ul class="mb-0">
              {{#if errors.identity}}
                <li>{{errors.identity.msg}}</li>
              {{/if}}
              {{#if errors.password}}
                <li>{{errors.password.msg}}</li>
              {{/if}}
            </ul>
          </div>
        {{/if}}

        <form action="/login" method="post" novalidate>
          <div class="mb-3">
            <label for="identity" class="form-label">Usuario o correo</label>
            <input
              type="text"
              class="form-control {{#if errors.identity}}is-invalid{{/if}}"
              id="identity"
              name="identity"
              placeholder="Usuario o Correo"
              value="{{old.identity}}"
            />
            {{#if errors.identity}}
              <div class="invalid-feedback">
                {{errors.identity.msg}}
              </div>
            {{/if}}
          </div>

          <div class="mb-3">
            <label for="password" class="form-label" >Contraseña</label>
            <input
              type="password"
              class="form-control {{#if errors.password}}is-invalid{{/if}}"
              id="password"
              name="password"
              placeholder="Contraseña"
            />
            {{#if errors.password}}
              <div class="invalid-feedback">
                {{errors.password.msg}}
              </div>
            {{/if}}
          </div>

          <div class="d-grid gap-2 mb-3">
            <button type="submit" class="btn btn-primary">
              Ingresar
            </button>
          </div>

          <p class="text-center">¿Aún no tienes cuenta? Regístrate como:</p>

          <div class="card-body p-1 p-md-2">
            <div class="row g-2 mb-2">
                <div class="col-6">
                    <a href="/register/cliente" class="btn btn-outline-primary btn-lg w-100 py-2 d-flex align-items-center justify-content-center">
                        <span class="fw-semibold">Cliente</span>
                    </a>
                </div>
                <div class="col-6">
                    <a href="/register/delivery" class="btn btn-outline-success btn-lg w-100 py-2 d-flex align-items-center justify-content-center">
                        <span class="fw-semibold">Delivery</span>
                    </a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <a href="/register/comercio" class="btn btn-outline-secondary btn-lg w-100 py-2 d-flex align-items-center justify-content-center">
                        <span class="fw-semibold">Comercio</span>
                    </a>
                </div>
            </div>
            
          </div>
          <a href="/password/forgot" class="text-decoration-none text-center d-block mt-3">¿Olvidaste tu contraseña?</a>
        </form>
      </div>
    </div>
  </div>
</div>
